{% extends "index.njk" %}

{% set title = 'Home' %}
{% set bodyClass = title | lower %}

{% block content %}
    <div class="home wrapper">
        <h1>We love wiley so much!</h1>
        {% include "partials/components/_feed.njk"%}
    </div>
{% endblock %}