{% extends "index.njk" %}

{% set title = 'Madgex' %}
{% set bodyClass = title | lower %}

{% block content %}
    <div class="home wrapper">
        {% include "partials/components/_feed.njk"%}
    </div>
{% endblock %}