{% extends "index.njk" %}

{% set title = user.name %}
{% set bodyClass = title | lower %}

{% block content %}
    <div class="user wrapper">
        <h1>{{ user.name }}</h1>
        {% include "partials/components/_user.njk"%}
    </div>
{% endblock %}