{% extends "index.njk" %}

{% set title = 'Madgex' %}
{% set bodyClass = title | lower %}

{% block content %}
    <div class="user wrapper">
        <h1></h1>
        {% include "partials/components/_user.njk"%}
    </div>
{% endblock %}