<a class="nav-logo" href="/">
    <img src="dist/img/logo.png"></img>
</a>

<h1 class="title">Madgex Recognition</h1>

<nav>
    <a class="nav-link" href="/">Account ∨</a>
    <a class="nav-link" href="/">Logout</a>
</nav>


