.user {
    width: 90%;
    margin-inline: auto;
    border-radius: 5px;
    background-color: #fff;
    padding: 30px;
    #feedback {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        #feedback-form {
            display: flex;
            align-items: center;
            gap: 20px;
            input {
                height: 30px;
                border: 1px solid #d1d2d3;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                padding: 5px 10px;
            }
            button {
                color: #fff;
                background-color: $Brandcolor1;
                border: none;
                padding: 10px 20px;
                border-radius: 5px;
                &:hover,
                &:focus {
                    cursor: pointer;
                    background-color: $secondarycolor2;
                }
            }
        }
        .feedback-holder {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .feedback {
                background-color: #efeff0;
                border-radius: 5px;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                padding: 10px;
                .content {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    justify-content: space-between;
                    font-size: 18px;
                    .buttons {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        p {
                            white-space: nowrap;
                            margin-right: 20px;
                        }
                        .like-button {
                            border: none;
                            background-color: transparent;
                            &:hover,
                            &:focus {
                                cursor: pointer;
                                //     background-image: linear-gradient(
                                //         to right,
                                //         red,
                                //         orange,
                                //         yellow,
                                //         green,
                                //         blue,
                                //         indigo,
                                //         violet,
                                //         red
                                //     );
                                //     animation: slidebg 2s linear infinite alternate;
                                //     img,
                                //     h2 {
                                //         color: #fff;
                                //     }
                            }
                            &:after {
                                content: "";
                                background: url(/public/images/like-2.png);
                                height: 32px;
                                width: 32px;
                                display: inline-block;
                                position: relative;
                            }
                            &.clicked:after {
                                content: "";
                                background: url(/public/images/like-1.png);
                                height: 32px;
                                width: 32px;
                                display: inline-block;
                                position: relative;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes slidebg {
    from {
        left: 0;
    }
    to {
        left: 100px;
    }
}
