// FONTS
$main-font: 'Roboto Condensed', sans-serif;
$alt-font: 'Roboto', sans-serif;

// MAIN COLOUR PALLET
$Brandcolor1: #123D80;
$Brandcolor2: #941e66;
$Brandcolor3: #efeff0;
$Brandcolor4: #FFC805;
$secondarycolor1: #FF91AA;
$secondarycolor2: #18b7fb;
$secondarycolor3: #383838;

// SCREEN SIZES
$sm: '640px';
$md: '768px';
$lg: '1024px';
$xl: '1280px';
$xxl: '1536px';
