@import "partials/var";
@import "partials/nav";

body{
    height:100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-items: stretch;
    align-items: stretch;
    background: linear-gradient(180deg, $Brandcolor3 0% , $Brandcolor3 40%, $Brandcolor1 100%);
    font-family: $main-font;
    color: $secondarycolor3;
}

