@import "partials/var";
@import "partials/nav";
@import "partials/home";
@import "partials/feedback";

body {
    height: 100vh;
    margin: 0%;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-items: stretch;
    align-items: stretch;
    background: linear-gradient(
        180deg,
        $Brandcolor3 0%,
        $Brandcolor3 40%,
        $Brandcolor1 100%
    );
    font-family: $main-font;
    color: $secondarycolor3;
}

header {
    grid-row: 1 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
}
