<div class="feed">
    {# <div class="feed__header">
        <h1>Feed</h1>
    </div> #}
    <div class="">
        {% for item in userData %}
            <div>
                <a href="/{{ item.id }}">
                    <img src="" alt="">
                    <h2>{{ item.name }}</h2>
                </a>

            </div>

        {% else %}
            <li>Item list is empty</li>
        {% endfor %}
    </div>
</div>