<div class="feed">
    <div class="feed__header">
        <h1>Feed</h1>
    </div>
    {# <pre>{{ JSON.stringify(userData, null, 2) }}</pre> #}
    <div class="">
        {# {% for item in userData %}
            <div>
                <h2>{{ item.name }}</h2>
                {% for item in userData.feedback %}test{% endfor %}
            </div>
        {% endfor %} #}
        {% for item in userData %}
            <div>
                <h2>{{ item.name }}</h2>
                <p>Feedback</p>
                {% for feedback in item.feedback %}
                    <p>{{ feedback.description }}</p>
                {% else %}
                    <p>No feedback yet (you're rubbish!)</p>
                {% endfor %}
            </div>
        {% else %}
            <li>Item list is empty</li>
        {% endfor %}
    </div>
</div>